* {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #d6e1f0;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.code-container {
    background-color: #e6ebee;
    border-radius: 25px;
    width: 350px;
    margin: 50px 15px;
}

.container img {
    width: 300px;
    border-radius: 15px;
}

.code-box {
    padding: 15px;
}

.text-container { 
    margin: 0 auto;
}

.text-container h2 {
    padding: 0 5px;
}

.text-container p {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0 20px;
}